@font-face {
    font-family: '을지로';
    src: url(../font/BMEULJIRO\ \(1\).otf);
}

@font-face {
    font-family: '보통';
    src: url(../font/BMYEONSUNG_ttf.ttf);
}

@font-face {
    font-family: '주아체';
    src: url(../font/BMJUA_ttf.ttf);
}

@font-face {
    font-family: '둥근모';
    src: url(../font/DungGeunMo.ttf);
}


#drama_name {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
}


#drama_name h3 {
    font-family: '을지로';
    font-size: 35px;
    color: black;
}

#drama_name p {
    font-family: '주아체';
    font-size: 22px;
    margin-top: 10px;
}

#banner img {
    width: 100%;
    margin-top: 60px;
}

/* slick */

/* .wrap {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
} */

.slick_gallery {
    margin-top: 30px;
    margin-left: 50px;
    width: 400px;

}

.slick_gallery .box img {
    width: 100%;
    margin: 0 auto;
}

/* 드라마 */

#drama_introduce {
    margin-bottom: 150px;
}

#drama_introduce ul li {
    display: inline-block;
    margin-left: 50px;
}

#drama_introduce h2 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: '보통';
    color: black;
}

#drama_introduce h3 {
    font-family: '보통';
    font-size: 27px;
}

#drama_introduce .drama1_txt {
    position: absolute;
    margin: 110px 0 0 50px;
    color: black;
}
#drama_introduce .drama1_txt .txt_1 {
    margin-bottom: 30px;
}

#drama_introduce .drama1_txt .txt_1 p {
    font-family: '주아체';
    margin-top: 10px;
    font-size: 17px;
}

#drama1_txt {
    float: right;
    width: 500px;
}

#drama1 {
    opacity: 0;
    transition: 0.1s;
}

#drama2 {
    opacity: 0;
    transition: 0.1s;
}

#drama3 {
    opacity: 0;
    transition: 0.1s;
}